@import '../../../../styles.scss';

.login {
    &__container {
        margin: auto;
        width: 50%;
        border: 2px solid black;
    }

    &__header {
        display: flex;
        text-align: center;
        width: 100%;   
    }

    &__body {
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        line-height: 2;

        &--field {
            border-radius: 9px;
            height: 35px;
            outline-color: rgb(118, 118, 118);
            border-color: rgb(118, 118, 118);
           
        }
    }

    &__action {
        display: flex;
        width: 100%;
        justify-content: center;

        &--btn {
            background-color: #0AA8C2;
            outline-color: #0AA8C2;
            color: white;
            border: none;
            width: 50%;
        }
    }
}