@import '../../../../styles.scss';

.article-header {
    justify-content: space-between;

    &__action {
        width: 19% !important;
        flex-direction: column;

        &--logout {
            margin-bottom: 8px;

            a {
                color: -webkit-link;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &--create{
            background-color: $blue;
            outline-color: $blue;
            color: $white;
            border: none;
            cursor: pointer;
            padding: 11px;
        }
    }
}